/* Navbar container */
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Main Navbar */
.navbar {
    background: #212121;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83.4%;
    padding: 0px 3px;
    position: fixed;
    z-index: 999999;
    background: white;
    color: #23738a;
}

#home{
  margin-top: 5rem;
}

/* Menu Icon for Mobile */
.menu-icon {
  display: none;
  cursor: pointer;
  color: white;
}

/* Navbar Links */
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
}

/* Navbar items */
.nav-links li {
  margin: 0 1rem;
}

/* Buttons and Links */
.nav-links button,
.nav-links button a {
  background: none;
  border: none;
  color: rgb(119, 119, 121);
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}

.nav-links button.active{
    color: #23738a;
    font-weight: bold;
    background: #23738a24;
    border-radius: 8px;
    border: 1px solid #23738a;
}

.nav-links button:hover,
.nav-links .btn.PrimaryBtn:hover {
  color: white;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 60vh;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease-in-out;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links button {
    font-size: 1.5rem;
    color: white;
  }
}
